@{
    ViewData["Title"] = "Already registered";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h2>Ошибочка!</h2>
                <h4>Лошадь или жокей уже зарегистрированны на данное состязание.</h4>
                <h4>Пожалуйста, выберете другую лошадь или жокея, или зарегистрируйтесь на другое состязание.</h4>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary btn-lg">На главную</a>
            </div>
        </div>
    </div>
</div>
