@{
    ViewData["Title"] = "Register";
}

<div class="text-center">
    <a class="nav-link text-dark" asp-area="" asp-controller="Register" asp-action="Jokey">Register as jokey</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Register" asp-action="Howner">Register as horseowner</a>
</div>
