@model CompetitionTicketModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить</h1>

<h3>Вы уверены что хотите удалить запись?</h3>
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            Название турнира
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Competition.Name)
        </dd>
        <dt class = "col-sm-2">
            Лошадь
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horse.Nickname)
        </dd>
        <dt class = "col-sm-2">
            Жокей
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jokey.Name)
        </dd>
        <dt class = "col-sm-2">
            Результат
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Result)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TiketId" />
        <input type="hidden" asp-for="CompetitionId" />
        <input type="hidden" asp-for="HorseId" />
        <input type="hidden" asp-for="JokeyId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Обратно к списку</a>
    </form>
</div>
