@model HorseModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Редактирование</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nickname" class="control-label">Кличка</label>
                <input asp-for="Nickname" class="form-control" />
                <span asp-validation-for="Nickname" class="text-danger"></span>
            </div>
           <div class="form-group">
                <label asp-for="Sex" class="control-label">Пол</label>
                <select asp-for="Sex" class="form-control" asp-items="ViewBag.Sex"></select>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label">Дата рождения</label>
                <input type="date" asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorseOwnerId" class="control-label">Владелец лошади</label>
                <select asp-for="HorseOwnerId" class="form-control" asp-items="ViewBag.HorseOwners"></select>
                <span asp-validation-for="HorseOwnerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Обратно к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
